.text-area-field {
  margin-bottom: 24px;
  position: relative;
  &__label {
    position: absolute;
    height: 18px;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.5;
    color: var(--dark-grey);
    top: 55px;
    right: 823px;
  }

  &__textarea {
    margin-top: -8px;
    padding: 14px 0 14px 16px;
    border: none;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.57;
    color: var(--charcoal-grey);

    &::placeholder {
      color: rgba(77, 77, 77, 0.5);
    }
  }

  &__invalid {
    border: 1px solid var(--strawberry);
    background-color: rgba(246, 63, 69, 0.04);
  }

  &__error {
    position: absolute;
    font-size: 10px;
    font-weight: 500;
    line-height: 2.2;
    color: var(--strawberry);
    top: 123px;
  }
}
